/NabStockTicker/obj
/NabStockTicker/bin
/NabStockTickerSource/obj
/NabStockTickerSource/bin
/tests/NabStockTicker.Unit/obj
/tests/NabStockTicker.Unit/bin
/tests/NabStockTickerSource.Unit/bin
/tests/NabStockTickerSource.Unit/obj
